[% USE raw %]

[% INCLUDE 'doc-head-open.inc' %]
<title>Koha: GOBI</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body>
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a>
        [% END %]
        [% WRAPPER breadcrumb_item %]
            <a href="#">GOBI</a>
        [% END %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/plugins/run.pl?class=Koha::Plugin::Com::Theke::GOBI&method=tool">Orders</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            <a href="/cgi-bin/koha/plugins/run.pl?class=Koha::Plugin::Com::Theke::GOBI&method=tool&step=get&gobi_order_id=14">[% gpo_id | html %]</a>
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

<div class="main container-fluid">
    <div class="row">
        <div class="col-md-10 order-md-2 order-sm-1">
            <h1>GOBI acquisitions</h1>

      <br>

[% IF ( error or not gobi_order ) %]
    <div class="dialog alert">
        <h3>ERROR</h3>
        <p>There was a problem processing your request.</p>
        <p>[% error %]</p>
    </div>

  <form method="post">
        <input type="hidden" name="class"  value="[% CLASS | html %]"/>
        <input type="hidden" name="method" value="[% METHOD | html %]"/>
        <input type="hidden" name="step"   value="add"/>
        <input type="hidden" name="op"     value="cud-save"/>
        [% INCLUDE 'csrf-token.inc' %]
        <p>
            <label for="purchase-order-xml">Paste your new GOBI PO here: </label>
            <input type="text" name="purchase-order-xml"/>
    <input type="submit" value="Submit" /></p>
  </form>
[% ELSE %]
    <h3>GOBI Order ([% gpo_id | html %])</h3>
    <ul>
        <li>ItemPONumber: [% gobi_order.OrderDetail.ItemPONumber | html %]</li>
        <li>Location: [% gobi_order.OrderDetail.Location | html %]</li>
        <li>Quantity: [% gobi_order.OrderDetail.Quantity | html %]</li>
        <li>YBPOrderKey: [% gobi_order.OrderDetail.YBPOrderKey | html %]</li>
        <!--li><a href="?class=[% CLASS %]&method=[% METHOD %]&step=process_marc&gobi_order_id=[% gpo_id %]">Process MARC</a></li-->
    </ul>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
